* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#utubeVid {
    width: 710px;
    height: 400px;
    position: relative;
}
#vidPlay {
    font-size: 50px;
    color: rgb(145, 8, 8);
}
#vidOut {
    position: absolute;
    z-index: 3;
    width: 710px;
    height: 400px;
    background-color: #000;
    opacity: 0.5;
    top: 0;
    left: 0;
    text-align: center;
    line-height: 400px;
}
#videoControlers {
    width: 710px;
    height: 50px;
    background: red;
    opacity: 0.6;
    display: inline-flex;
    align-items: center;
    padding-left: 20px;
    position: absolute;
    left: 0;
    top: 349px;
    z-index: 3;
}

#vidIcon ,
#vidDuration ,
#slash ,
#vidCurrentDuration ,
#vidVolumeUp ,
#vidVolumeDown  {
    color: black;
    margin-right: 35px;
}
#vidCurrentDuration ,
#vidDuration {
    width: 40px;
    color: yellow;
}

#vidVolumeUp,
#vidVolumeDown {
    border-radius: 50%;
    outline: none;
    border:none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background: yellow;
    margin-left: 30px;
}

#fullScreen {
    width: 70px;
    border-radius: 10px;
    outline: none;
    border: 1px solid #000;
    height: 35px;
    background: yellow;
    font-weight: 600;
    position: absolute;
    right:  0;
    margin-right: 20px;
    cursor: pointer;
}

